body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

ul,
ol {
    padding-left: 0;
    list-style-type: none;
}

.wrapper {
    width: 100%;
    max-width: 940px;
    margin: 0 auto;
    padding-bottom: 100px;

}

.nav {
    position: relative;
    margin-bottom: 35px;
}

.nav::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: #828282;
    box-shadow: 0px 2px 5px #0000002b;
}

.menu {
    padding: 20px 0;
    max-width: 640px;
    margin: 0 auto;
}

.menu_item {
    display: inline-block;
    width: calc(20% - 4px);
    text-align: center;
}

.menu_link {
    text-decoration: none;
    color: #828282;
    font-size: 18px;
    font-weight: 400;
    text-shadow: 0px 2px 2px #00000052;
    transition: all 0.25s linear;
}

.menu_link:hover {
    color: #070707;
}

.banner_title {
    font-size: 48px;
    font-weight: 700;
    color: #070707;
}

.about_me {
    background-color: #F6F6F6;
   
}

.about_me_wrapper {
    max-width: 480px;
    margin: 0 auto;
    text-align: center;
    padding: 100px 0px;
  
}

.title {
    font-size: 34px;
    font-weight: 700;
    color: #070707; 
    
}

.about_me_wrapper p{
    padding-top: 30px;
    font-size: 18px;
    font-weight: 400;
    color: #070707;
}
.skills{
    padding: 100px 0px;
}
.skills_wrapper{
   
    margin: 0 auto;
    max-width: 940px;
    text-align: center;
}
.skills_wrapper p{
    font-size: 18px;
    font-weight: 400;
    color: #070707;
}
.all_skills{
    display: flex;
    justify-content: space-between;
    padding-top: 75px;
}
.all_skills_item{
   
    max-width: 165px;
  
}
.skills_item{
    margin-bottom: 60px;
    margin-top: 25px;
    text-align: center;
    font-size: 14px;
    color: #828282;
}
.portfolio{
    background-color: #F6F6F6;
}
.portfolio_wrapper{
    max-width: 940px;
    margin: 0 auto;
    text-align: center;
   

}
.portfolio_img{
    padding-bottom: 15px;
}
.title_portfolio{
    padding-top: 120px;
    padding-bottom: 65px;
    font-size: 34px;
    font-weight: 700;
    color: #070707; 
}
.portfolio_wrapper a{
    display: inline-block;
    font-size: 18px;
    font-weight: 400;
    color: #070707;
    max-width: 260px;
    text-align: center;
    margin-bottom: 130px;
    
}
.footer{
    margin: 100px auto;
    max-width: 340px;
    text-align: center;
    
}
.footer p{
    font-size: 18px;
    font-weight: 400;
    color: #070707;
}
.social{
  display: flex;
  justify-content: space-between;
}
.social img{
   margin-top: 40px;
   
}
button{
    width: 180px;
    height: 40px;
    background-color: #070707;
    color: #ffffff;
    border-radius: 20px;
    margin-top: 80px;
    font-size: 15px;
}
.footer_end{
    font-size: 14px;
    font-weight: 400;
    color: #828282;
    text-align: center;
    max-width: 240px;
    margin: 45px auto;
    margin-bottom: 160px;
}